.card{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}

.photo{
    height: 50%;
    border-radius: 5px 5px 0 0;
}

#emp1{
    background: blueviolet url("man.png")  no-repeat center;
    background-size: contain;
    /* background-image: url("man.png");
    background-repeat: no-repeat;
    background-color: blueviolet;
    background-position: center; */
}

#emp2{
    background: aqua url("woman.png") no-repeat center;
    background-size: contain;
}

.detail{
    padding: 5px;
}

.card:hover{
    box-shadow: 0 10px 20px black;
}
.simly-face{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(255, 197, 80);
    margin-top: 50px;
}

.eye{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
#eye2{
    position: relative;
    left: 50px;
}
#eye1{
    position: relative;
    top: 50px;
    left: 140px
}

.mouth{
    height:70px;
    width: 150px;
    background-color: rgb(251, 93, 35);
    border-radius: 0 0 70px 70px;
    position: relative;
    top:30px;
    left: 40px;
}